 

<!-- <nav>
    <a class="buton" routerLink="/crisis-details">competence</a>
    <a class="buton" routerLink="/crisis-list">cursus</a>
</nav>
<div class="contain">
    <p>qui j'suis en image :</p>
    <img src="/assets/img/tof.jpg" alt="">
    <p>mes reseau :</p>
    <div class="photoReseau">
       <a href=""><img src="/assets/img/stackoverflow.png" alt=""></a>
       <a href=""><img src="/assets/img/github.png" alt=""></a>
      <a href=""><img src="/assets/img/link.png" alt=""></a>
    </div>
    <p class="p3">mes information :</p>
    <div class="information">

    </div>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">mon cv</a> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
          <a class="nav-link" routerLink="/crisis-details" >cursus</a>
          <a class="nav-link"  routerLink="/crisis-list" >competence</a>
          <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
        </div>
      </div>
    </div>
  </nav> 


  


<!-- <nav>
    <a class="buton" routerLink="/crisis-details">competence</a>
    <a class="buton" routerLink="/crisis-list">cursus</a>
  </nav> -->
 <!-- <app-tp202>  </app-tp202>  -->
<router-outlet></router-outlet>