<ion-content style="border-left: 7px solid #1bbc9c;">
    <div class="header">
        <h3>Happy to see you<span id="user-name">...</span></h3>
        <h1>Create a<br>New account</h1>
    </div>

    <div class="form">

        <ion-input type="email" placeholder="lilboris320@gmail.com "></ion-input>
        <ion-input type="text" placeholder="Achotia Boris E"></ion-input>
        <ion-input type="password" placeholder="Mot de passe"></ion-input>
    </div>
    <div class="button signup">
        signup
        <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="signup-footer">
        <h3 routerLink="/folder">Vous avez deja un compte?<span>connection</span></h3>
    </div>

</ion-content>


<!--<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
-->